@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/assets/images/bg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: white;
    font-size: 1rem;
}

#logo img {
    width: 160px;
}

.container {
    max-width: 1000px;
    margin: 60px auto;
    padding: 0 15px;
}

.flex-inline {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcomeTitle {
    font-size: 5rem;
    line-height: 0.8;
    font-weight: 600;
    ;
}

.subTitle {
    color: #c4448d;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0rem;
}

.headingBox {
    max-width: 500px;
}

.fontRegular {
    font-weight: 300;
    display: block;
}

#clause {
    display: flex;
}

#clauseInput {
    margin-right: 15px;
}

.btnSubmit {
    padding: 16px 56px;
    font-size: 1.2rem;
    color: #0a113b;
    font-weight: 600;
    background-color: cyan;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 60px cyan;
}